---
const { sideBarActiveItemID } = Astro.props;
const activeClass = "bg-base-300"; // For primary color replace with `active` class
---

<ul class="menu grow shrink menu-md overflow-y-auto">
    <li><a class="py-3 text-base" id="home" href="/" target="_self">Home</a></li>
    <!-- <li><a class="py-3 text-base" id="projects" href="/projects" target="_self">Projects</a></li> -->
    <!-- <li><a class="py-3 text-base" id="services" href="/services" target="_self">Services</a></li> -->
    <!-- <li><a class="py-3 text-base" id="store" href="/store" target="_self">Store</a></li> -->
    <li><a class="py-3 text-base" id="blog" href="/blog/" target="_self">Blog</a></li>
    <li><a class="py-3 text-base" id="cv" href="/resume" target="_self">Resume</a></li>
    <!-- <li>
        <a
            class="py-3 text-base"
            href="mailto:contact.manuelernestog@gmail.com"
            target="_blank"
            referrerpolicy="no-referrer-when-downgrade">Contact</a
        >
    </li> -->
    <li><a class="py-3 text-base" id="contact" href="/contact" target="_self">Contact</a></li>
</ul>

<script define:vars={{ sideBarActiveItemID: sideBarActiveItemID, activeClass: activeClass }}>
const activeItemElem = document.getElementById(sideBarActiveItemID);
activeItemElem && activeItemElem.classList.add(activeClass);
</script>
